$background-wrapper: rgba(8, 15, 53, 0.986);
$background-container: rgba(255, 255, 255,0.3);
$buttonBackgound:  cyan;
$hoverTextColor: rgb(108, 177, 177);
$glassy-effects: rgba(202, 200, 200, 0.884);
$wrapperCoverLayer: rgba(255, 0, 0, 0.01);